.App {
  position: relative;
  overflow-x: clip;
  background-color: white;
}
.App > :nth-child(1) {
  background: var(--black);
  position: relative;
  overflow: hidden;
}

.curved-lines {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, transparent, transparent 48%, orange 48%, orange 52%, transparent 52%, transparent);
    transform-origin: bottom;
    transform: scaleY(5);
  }
